form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    
}
form input, textarea {
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 5px;
}
.parent{
    display: flex;
    justify-content: center;
}
